name = "slinky-soft"

host_kubeconfig_path  = "~/.kube/config"
kubeconfig_output_dir = "."

platform_url          = "https://platform.example.com"
platform_project_name = "default"
platform_insecure     = true

# Secrets -- do NOT put sensitive values in this file.
# Copy the secrets example and fill in your values:
#
#   cp secrets.auto.tfvars.example secrets.auto.tfvars
#
# Required: platform_access_key

deploy_gpu_operator                = true
gpu_operator_driver_enabled        = false
gpu_operator_device_plugin_enabled = true
gpu_operator_driver_install_dir    = "/home/kubernetes/bin/nvidia"

deploy_prometheus_operator = true
deploy_slurm_exporter      = true

tenants = [
  {
    name                      = "tenant-1"
    node_selector_label_value = "slinky-tenant-1"
    ssh_authorized_keys       = []
    worker_replicas           = 1
    login_replicas            = 1
    gpu_per_node              = 1
    gpu_gres                  = "gpu:nvidia:1"
  }
]
